<meta name="description" content="{% if page.meta %}{{page.meta}}{% else %}{{site.website-description}}{% endif %}">
<meta name="author" content="{% if false == page.author %}{{site.website-author}}{% else %}{{page.author}}{% endif %}">
<meta name="keywords" content="{% for keyword in site.data.meta-keywords %}{{keyword}}{% if false == forloop.last %}, {% endif %}{% endfor %}">

<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.titleBefore %}{{page.titleBefore}} · {% endif %}{% if page.title %}{{page.title | capitalize}} · {% endif %}{{site.website-title}}{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}">
<meta property="og:image" content="{{ page.image }}">

<meta property="og:description" content="{% if page.meta %}{{ page.meta }}{% else %}{{ site.website-description }}{% endif %}">

<meta property="og:url" content="{{site.baseurl}}{{page.url}}">
<meta property="og:site_name" content="{{site.website-title}}">

  <meta property="og:title" content="Title of this page, same as title tag">

  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/to-this/image.jpg">
  <!-- `og:site_name` is optional but highly recommended -->

  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Description of this page, same as meta description">

