
<ul class="{% if 'm-l-xl' == include.navType %}list-group--inline{% else %}list-group brand-highlight{% endif %} push-0 ">
  {% for site-page in site.pages %}
    {% if site-page.url contains "page2" %}{% continue %}{% endif %}
    {% if true == site-page.includeInNavigation %}
      <li class="list-group__item {% if 'xs-s' == include.navType %}pad-t-1-4 pad-b-1-2{% endif %}">
        <a class="{% if 'm-l-xl' == include.navType %}milli{% else %}mega{% endif %} {% if page.url contains site-page.url %}current{% endif %}" href="{{site.baseurl}}{{ site-page.url }}">
        {% if 'm-l-xl' == include.navType %}/{% endif %}{{ site-page.title | upcase }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
